<section id="end">
<div class="bottom">
  &#169 2019 SSRR All RIGHTS RESERVED
<p>
<a href="https://en-gb.facebook.com/login/"><i class="social-icon fab fa-facebook-f"></i></a>
<a href="https://twitter.com/login?lang=en"><i class="social-icon fab fa-twitter"></i></a>
<a href="https://www.instagram.com/?hl=en"><i class="social-icon fab fa-instagram"></i></a>
<a href="https://login.yahoo.com/"><i class="social-icon fas fa-envelope"></i></a>

</p>    </div>
</section>

</body>
</html>
