<%- include('partials/header') %>

<div class="centered">

  <div class="container-fluid">
    <h1 class="display-3">Welcome to Chandi Appliances and Services</h1>
  <hr>
    <p class="lead">An Integrated Enviornment company which provides best appliances and services for their customers</p>

  </div>
  </div>

  <div class="row main">
    <div class="col-lg-6 col-md-6 col-sm-12 imgbtm">
<img class="securityimg1" src="/images/ac.jpg" />      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 divbtm">
  <p>
    Electronic Home appliances play an important part in your daily life. If you face any problems 
    with the machine, it ruins your entire day. Since the electronic machine keeps your day 
    easy and comfortable, don’t let the machine ruin your day. Always have a pre-planned quality 
    service for your appliance. Don't panic in these kind of situations, We are just a call away.
    </p>
    <p>
    You can <a href="">Contact Us from here</a>.
  </p>
 
  </div></div>

  <div class="row main">
    <div class="col-lg-6 col-md-6 col-sm-12 imgbtm">
<img class="securityimg1" src="/images/purifier.jpeg" />      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 divbtm">

  <p>
Pro Tip: If you don’t check your appliance regularly, they may cause many big problems and also may 
lead to replacing the machine. Getting a new appliance may expense high, hence it’s better to 
be serviced once in a month or 6 months once. If you are not repairing the appliance regularly, it
 may lead to many problems.
 </p>
 
  </div></div>



  <!-- <div class="row main ">

   

      <div class="col-lg-6 col-md-6 col-sm-12 imgbtm2">
<img class="securityimg1" src="/images/netseccover2.jpg" />
    </div>


</div> -->

  <div id="testimonial-carousel" class="carousel slide testimonial " data-ride="true">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>

  </ol>
       <div class="carousel-inner">

       <div class="carousel-item active">

         <div class="caro1">
<br />
           <h3 style="margin-left: 60%;color: #0c093c;">Appliances</h3>
           <p class="qualification-body" style="margin-left: 60%; color:grey;">We will provide you best appliances on best price in the market.
          
          </p>
<br />



           </div>


           </div>
         <div class="carousel-item">

                    <div class="caro2">
           <br />
                      <h3 style="margin-left: 60%; color: #0c093c;">Services</h3>
                      <p class="qualification-body" style="margin-left: 60%; color: grey;">We are providing repairing and installation services from the hands of most experienced engineers.</p>
           <br />
                      </div>
                                                           </div>
      </div>
       <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon"></span>
       </a>
       <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
     <span class="carousel-control-next-icon"></span>
       </a>
     </div>



       <div class=" sec container-fluid">
         <div class="row sec">
         <div class="feature col-lg-4">
       <p class="icon">
         <i class="fas fa-eye fa-8x"></i>
       </p>
           <h2>Our vision</h2>

           <table align="center" cellspacing="5px">
             <tr>
               <td>
                 <p>
                  In our store, wherever new opportunities arise, we work relentlessly 
                  to give customers the most compelling shopping experience possible. We offer the customer the 
                  best possible service, selection, quality and value.
                </p>         </td>
               </tr>
             </table>
         </div>
         <div class="feature col-lg-4">
           <p class="icon">
             <i class="fas fa-tv fa-8x"></i>
           </p>
           <h2>How can a customer Contact Us?</h2>
           <p>
             There is a contact number and Email address on the top of this website, Customer can contact either way. 
             We check our mails on regular basis for feedback and requirements of Customers.
            
             </p>
         </div>
         <div class="feature col-lg-4">
           <p class="icon">
           <i class="fas fa-university fa-8x"></i>
           </p>
           <h2>Strategy Considerations and Fullfillment</h2>
      <p>
        We provide customer a Home delivery option with various other schemes for payment like EMI, Account transfer, cash, etc.
        Customer can contact us and get to know the details.
     </p>

         </div>

       </div>
       </div>

<div class="btm-card">
<div class="col-lg-3 col-md-4 col-sm-12">

<h5>Location of Powayan</h5>

<div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" 
  marginwidth="0" 
  src="https://maps.google.com/maps?q=28.070560899667715,%2080.09921058204178&t=&z=13&ie=UTF8&iwloc=&output=embed" 
  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
  <style>.mapouter{position:relative;text-align:right;height:270px;width:350px;}</style>
  <style>.gmap_canvas {overflow:hidden;background:none!important;height:270px;width:350px;}
   .gmap_iframe {width:350px!important;height:270px!important;}</style>
</div></div>
<br/>
<h5>Location of Gangsara</h5>
<div class="mapouter"><div class="gmap_canvas"><iframe width="350" height="270" id="gmap_canvas" src="https://maps.google.com/maps?q=28.124979146377978,%2080.1696958042709&t=&z=13&ie=UTF8&iwloc=&output=embed"
 frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
 <style>.mapouter{position:relative;text-align:right;height:270px;width:350px;}</style><style>
.gmap_canvas {overflow:hidden;background:none!important;height:270px;width:350px;}</style></div></div>
</div>
</div>


<div class="back1">

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="shadow-lg p-3 mb-5 bg-white rounded card">
        <p><i class="fa fa-user"></i></p>
        <h3>30+</h3>
        <p class="namebtm">Companies</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="shadow-lg p-3 mb-5 bg-white rounded card">
        <p><i class="fa fa-check"></i></p>
        <h3>2</h3>
        <p class="namebtm">Branches</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="shadow-lg p-3 mb-5 bg-white rounded card">
        <p><i class="fa  fa-user" aria-hidden="true"></i><i class="fa  fa-user" aria-hidden="true"></i><i class="fa  fa-user" aria-hidden="true"></i></p>
        <h3>3000+</h3>
        <p class="namebtm">Happy Clients</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class=" shadow-lg p-3 mb-5 bg-white rounded card">
        <p><i class="fa fa-coffee"></i></p>
        <h3>10+</h3>
        <p class="namebtm">Employees</p>
      </div>
    </div>
  </div>
  </div>

  <div class="row back2" >
    <p >Dealer: Sukhpal Singh &ThickSpace;&ThickSpace;&ThickSpace; </p>
<p></p>
   <p><img src="https://img.icons8.com/material-outlined/20/000000/outgoing-call.png"> +91-9721587318, +91-7080968165
    &nbsp&nbsp</p>
    <p>
    <img src="https://img.icons8.com/material-sharp/20/000000/mailing.png"> chandiappliancesandservices@gmail.com
  </p> 
  <br>
   
  <p>
    &nbsp;
  <a href="https://m.facebook.com/Chandi-appliances-and-services-106784528150623/"><i class="social-icon fab fa-facebook-f fa-2x ic"></i></a>
  &nbsp;<a href="https://instagram.com/sukh_chandi2958?utm_medium=copy_link"><i class="social-icon fab fa-instagram fa-2x ic"></i></a>
  &nbsp;<a href="https://goo.gl/maps/eSj4PtZzCaHZ3tAu5"><i class="social-icon fas fa-map-marker-alt fa-2x ic"></i></a>

  </p>

  <div style="align-items : right;">
  </div>
  </div>
</div>
